<div class="starter-template">
<h1>Bienvenido a la prueba técnica</h1>
		<h3>Desarrollador Java - Angular</h3>
		<p class="lead">
			En la opción Empleados, en la columna 'Ver', debes desarrollar la funcionalidad para poder visualizar
			el detalle del empleado, mostrando sus datos básicos incluyendo el nombre de usuario y correo electrónico.
			Para esto debes relacionar la clase User con la clase Employee usando JPA.
			Para el servicio web debes implementar en spring un servicio que te obtenga esta información, 
			para la visualización debes implementar ANGULAR.

			<br />
			<img src="assets/img/diagrama.png" />
</div>