<div class="row">
    <div class="col-md-12">
        <p>
            <strong>Listado de empleados</strong>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Ocupación</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.surname }}</td>
                    <td>{{ employee.occupation }}</td>
                    <td>
                        <a class="btn btn-primary" style="cursor: pointer;color:#fff;">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    </div>
</div>